.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.goback {
  position: absolute;
  top: 3.813rem;
  left: 1.313rem;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.438rem;
}

.tabs {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  font-weight: bold;
}

.tab.active {
  color: #007bff;
  border-bottom: 5px solid #007bff;
}

.tab.inactive {
  color: #8c8c8c;
  border-bottom: 5px solid #8c8c8c;
}

.phone-pw-label {
  margin-top: 2.313rem;
}

label {
  text-align: left;
  width: 100%;
  margin-bottom: 0.625rem;
  font-weight: bold;
}
.phone-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.75rem;
}
.code-input {
  display: flex;
  align-items: center;
  margin-bottom: 0.438rem;
}

.id-input {
  padding: 10px 0;
  width: 18rem;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.438rem;
}
.code-input input {
  padding: 10px 0;
  width: 11.875rem;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid black;
}
.check-box {
  position: relative;
}
.phone-input input {
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid black;
}
.phone-input .number-first {
  width: 1.5rem;
  text-align: left;
}

.phone-input .number-second {
  width: 2.25rem; /* Updated width */
  text-align: left;
}

.phone-input .number-last {
  width: 2.25rem; /* Updated width */
}

.phone-input span,
.code-input span {
  margin-right: 5px;
}

.send-code-button,
.verify-button,
.findpw-button {
  padding: 10px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.send-code-button,
.verify-button {
  margin-left: 5px;
  background-color: #fff;
  color: #007bff;
  font-size: 10px;
  border-radius: 20px;
  width: 5.5rem;
  height: 2.125rem;
}

.timer {
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-weight: bold;
  font-size: 10px;
}

.findpw-button {
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  margin-top: 2.688rem;
  border-radius: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.error {
  color: #ff0000;
  font-size: 10px;
  text-align: left;
}

.ok {
  color: #0068ff;
  font-size: 10px;
  text-align: left;
}
