.ffd_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .goback {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .ffd_swiper {
    width: 100%;
    height: 27.35rem; /* 원하는 높이로 조정 */
    margin-top: 6.563rem;
  }

  .ffd_theader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 15.625rem;
  }
  
  .ffd_title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: fit-content;
  }

  .ffd_heart {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
  }
  
  .ffd_content {
    font-size: 1rem;
    width: 18.75rem;
    height: 23.75rem;
    background-color: #ECF6FF;
    color: black;
    border-radius: 0.625rem;
    overflow: auto;
  }
  
  .ffd_nextButton {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: #0068FF;
    border: 1.5px solid #0068FF;
    border-radius: 0.625rem;
    cursor: pointer;
    width: 18.438rem;
    height: 2.625rem;
    margin: 0.5rem 0 0 0;
  }
  
  /* Swiper scrollbar style */
.swiper-scrollbar {
    background: #e0e0e0;
  }

.swiper-scrollbar-drag {
    background: #007bff;
}
