.ffl_container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: opacity 1s;
}

.ffl_container.fade-out {
  opacity: 0;
}

.ffl_filter {
  margin-top: 9.156rem;
  width: 3.125rem; /* Adjust the width as needed */
  height: 3.125rem; /* Maintain aspect ratio */
}

.ffl_main {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  text-align: center;
}

.ffl_main_first {
  font-size: 1rem;
  font-weight: 700;
}

.ffl_main_second {
  font-size: 1rem;
  font-weight: 700;
}

.ffl_sub {
  display: flex;
  flex-direction: column;
  margin-top: 2.188rem;
  text-align: center;
}

.ffl_sub_first {
  font-size: 0.875rem;
}

.ffl_sub_second {
  font-size: 0.875rem;
}
