.sflc_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    margin: 0 0 0 0;
  }

.goback {
    width: 1.5rem;
    height: 1.5rem;
}

.sflc_title1{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 7.375rem 0 0.313rem 2.25rem;
    text-align: left;
}

.sflc_title2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 0 2.25rem;
    text-align: left;
}

.sflc_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.875rem 0 0 0;
}

.sflc_line {
    width: 18.75rem;
    height: 2px;
    background-color: #000;
}

.sflc_infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2.313rem 0 0 0;
    width: 18.75rem;
    height: 14.375rem;
    overflow: auto;
}

.sflc_info {
    width: 13.75rem;
    height: fit-content;
    border: 1.5px solid #0068FF;
    border-radius: 10px;
    margin: 0 0 1.438rem 0;
    text-align: left;
    font-size: 0.875rem;
    padding: 0.65rem 0 0.65rem 1.875rem;
}

.sflc_alert{
    margin-top: 5rem;
    width: 13.75rem;
    height: 3.75rem;
    font-size: 0.875rem;
    color: #0068FF;
    border: 1.5px solid #0068FF;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sflc_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.875rem 0 0 0;
}

.sflc_againButton {
    width: 8.75rem;
    height: 2.625rem;
    border-radius: 1.25rem;
    border: 1.5px solid #8C8C8C;
    color: #8C8C8C;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0 1rem 0 0;
}

.sflc_nextButton {
    width: 8.75rem;
    height: 2.625rem;
    border: 1.5px solid #0068FF;
    border-radius: 1.25rem;
    color: #0068FF;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 700;
}
